.Header header {
  text-align: center;
  padding: 20px 0;
}

.Header .header {
  padding: 0 20px;
}

.Header .button {
  margin-left: 10px;
  background-color: #afeeee;
  border-radius: 10px;
  border: solid 1px #afeeee;
  color: #282727;
}

.Header .button:hover {
  background-color: #7ccde5;
  color: beige;
}

.Header .city {
  background-color: #afeeee;
  border-radius: 10px;
  border: solid 1px #afeeee;
  text-align: center;
}
